body {
    background-image: url('logo.jpg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: black; 
}
h1{
    text-align: center;
    margin-top: 50px;
    font-size: 100px;
    color: rgb(0, 0, 0);
    font-family: "courier new"

}
ul{
    text-align: left;
    font-size: 25px;
    font-family: sans-serif;
}
li{
    color: white;
    font-size: white;
    border: 5px;
}