body {
  background-color: #000; /* Cor de fundo preta */
}
.custom-bg {
  background-color: #7b331b; /* Cor de fundo personalizada */
  color: white; /* Cor do texto */
  border-radius: 10px; /* Borda arredondada */
  padding: 20px; /* Espaçamento interno */
}
.logo {
  /* Estilos para o logo */
  width: 50px; /* Largura do logo */
  height: auto; /* Altura automática */
  margin-right: 10px; /* Margem à direita do logo */
}
.header-title {
  display: flex; /* Utilização de flexbox para alinhar o título e o logo */
  align-items: center; /* Alinhamento vertical ao centro */
  justify-content: center; /* Alinhamento horizontal ao centro */
}