/* Estilos gerais */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Cabeçalho */
.header {
  background-color: #7b331b;
  color: white;
  text-align: left;
  padding: 20px;
  position: relative;
  margin: auto;
}

.petfood {
  font-size: 2rem;
}

.search {
  text-align: center;
  margin-top: 10px;
  max-width: 100%;
}

.search__input {
  font-family: inherit;
  font-size: 21px;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 10px;
  border-radius: 30px;
  width: 50%;
  transition: all ease-in-out 0.5s;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  background-color: #f0eeee;
}

.button {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 200;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.imagem-logo{
  border-radius: 50%;
  float: right;
  width: auto;
  max-width: 120px;
  margin-top: -60px;
  margin-right: 10px;
}
/* Barra de navegação */
.nav {
  text-align: center;
  margin-top: 20px;
}

.nav ul {
  list-style-type: none;
  padding: 0;
}

.nav li {
  display: inline;
  margin-right: 20px;
}

.nav a {
  text-decoration: none;
  color: white;
}

/* Conteúdo principal */
.conteudo {
  padding: 20px;
}

.produto {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-top: 5%;
  margin-left: 15%;
}

.selec-prod {
  text-align: center;
  font-size: 1.5rem;
  margin-top: auto;

}

.produtoselecionado {
  margin-top: 10px;
  text-align: right;
  border-radius: 5px;
  padding: 30px;
  margin: 0 auto;
  max-width: 80%;
}

.btn-avaliação{
  background-color: blue;
  border-radius: 45px;
  padding: 10px 10px;
}

.btn-carrinho{
  background-color: blue;
  border-radius: 45px;
  padding: 10px 10px;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .petfood {
      font-size: 1.5rem;
  }

  .search__input {
      width: 80%;
  }

  .button {
      font-size: 12px;
  }

  .nav {
      margin-top: 10px;
  }

  .nav li {
      margin-right: 10px;
  }

  .selec-prod {
      font-size: 1.2rem;
      margin-top: 10px;
  }

  .produto {
      margin-top: 10%;
      margin-left: 10%;
  }

  .produtoselecionado {
      width: 100%;
      margin: 0;
  }
}