body {
    background-image: url('fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #5c5656;
    color: #615e5e; 
}

h1{
    text-align: center;
    margin-top: 50px;
    font-size: 100px;
    color: rgb(0, 0, 0);
    font-family: "courier new"
}
h2{
    font-family: "courier new" ;
    color: rgb(0, 0, 0);
    font-size: 40px
    
}
h3 {
color: black;
text-align: center;
font-size: 50px;
font-family: '"courier new"';

}
h4 {
color: black;
font-family: courier ;
font-size: 25px;

}