/* Estilos personalizados */
h1{
    font-size: 2rem;
    margin-top: 10px;
    color: white;
    margin-top: 10px;
    text-align: left;
}
header {
  background-color: #7b331b;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.spacer {
  height: 50px;
}

.scroll-btns {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-btns button {
  margin: 5px;
}

.btn-outline-primary {
      color: black;
      background-color: white;
      border-color: transparent;
  }

.btn-outline-primary:hover {
      color: white;
      background-color: black;
      border-color: transparent;
  }

.card-img-custom {
  width: 100%; 
  height: 300px; 
  object-fit: cover; /* Ajuste para cobrir o espaço do container mantendo a proporção */
}    

@media (max-width: 768px) {
  .text-right {
      text-align: center !important;
  }

  .spacer {
      display: none;
  }

  .scroll-btns {
      position: static;
      transform: none;
      margin-top: 20px;
  }

  .section-title {
      text-align: center;
  }

  .form-inline {
      display: block;
      text-align: center;
  }

  .form-inline input {
      margin-bottom: 10px;
  }

  .btn-outline-primary {
      color: black;
      background-color: white;
      border-color: transparent;
  }

  .btn-outline-primary:hover {
      color: white;
      background-color: black;
      border-color: transparent;
  }
  
  .card-img-custom {
  width: 100%; 
  height: 200px; 
  object-fit: cover; /* Ajuste para cobrir o espaço do container mantendo a proporção */
}

}