*{
    margin: 0;
    padding: 0;
}

body .carde{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    gap: 16px;
    background-image: url(fundo.png);
}
.card{
    background-color: rgb(196, 216, 216);
    width: 188px;
    height: 260px;
    border-radius: 30px;
    box-shadow: 4px 4px 12px #aaaa;
    align-items: center;
}
.card img{
   width: 100%;
   height: 130px;
   border-bottom-left-radius: 12px;
   border-top-right-radius: 12px; 
}
.card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 58%;
}
.card h1{
    font-size: 1.2rem;
}
.card h2{
    font-size: .9rem;
    color: #aaaa;
}
.card button{
    background-color: blue;
    height: 30px;
    border: none;
    padding:4px ;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;

}header {
    background-color: #7B331B; /* Cor de fundo da barra */
    padding: 20px 40px;
    position: relative;
    margin: auto;
}
/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */
.form button {
    border: none;    background: none;
    color: #8b8ba7; 
  }
  /* styling of whole input container */
  .form {
    --timing: 0.3s;
    --width-of-input: 400px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #2f2ee9;
    --border-radius: 20px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg,#fff); 
    margin-left: 40%;
  }
  /* styling of Input */
  .input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
  }
  /* styling of animated border */
  .form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
  }
  /* Hover on Input */
  .form:focus-within {
    border-radius: var(--after-border-radius);
  }

  input:focus {
    outline: none;
  }
  /* here is code of animated border */
  .form:focus-within:before {
    transform: scale(1);
  }
  /* styling of close button */
  /* == you can click the close button to remove text == */
  .reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
  }
  /* close button shown when typing */
  input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
  }
  /* sizing svg icons */
  .form svg {
  width: 17px;
    margin-top: 3px;
  }
.barra button{

    border-radius: 10px;
    color: #fbe600;
    background-color: #7B331B;
    color: #fff;
    font-size: 15px;
    
   
    
}main div{
  
  margin: auto;
  width: 600px;
  height: 200px;
  background-color: #7B331B;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;


}.button {
  color: #ecf0f1;
  font-size: 17px;
  background-color: #e67e22;
  border: 1px solid #f39c12;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 6px 0px #d35400;
  transition: all .1s;
  margin-right: 170px;
  
 }
 
 .button:active {
  box-shadow: 0px 2px 0px #d35400;
  position: relative;
  top: 2px;
 }


.image{
  width: 130px;
  height: 130px;
  float: left;
  margin-left: 450%;
  border-radius: 20%;  
  
  
}